@model DevelopingYou.Web.Models.Goal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="goals-details-card">
    <h4>
        @Html.DisplayFor(model => model.Title)
    </h4>
    <hr />

    <div class="goals-details-inside">
        <span>
            Start Value:
            @Html.DisplayFor(model => model.StartValue)
        </span>

        <span>
            Goal: 
            @Html.DisplayFor(model => model.TargetValue)
        </span>

        <span>
            End Date:
            @Html.DisplayFor(model => model.EndDate.Date)
        </span>

        <div class="goal-details-options">
            @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
            @Html.ActionLink("Create Instance", "Create", "Instances", new { GoalId = Model.Id })

        </div>

        <div class="instances-log-heading">

        </div>

        <div class="instances-log">



            @foreach (var item in Model.Instances)
            {
                <div class="instance-entry">
                    <span class="instance-start-time">
                        @Html.DisplayFor(model => item.StartTime)
                        -
                    </span>
                    <span class="instance-end-time">
                        @Html.DisplayFor(model => item.EndTime.TimeOfDay)
                    </span>
                    
                    <span class="goal-comment">
                        @Html.DisplayFor(model => item.Comment)
                    </span>
                </div>
            }
        </div>
    </div>

</div>


 

<div class="breakdown">
    <h2>Goal Breakdown:</h2>
    <img src="~/Assets/ChartPlaceholder.png" class="chart" />
</div>