@model DevelopingYou.Web.Models.Goal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="goals-details-card">
    <h4>
        @Html.DisplayFor(model => model.Title)
    </h4>
    <hr />


    <span>
        @Html.DisplayFor(model => model.StartValue)
        @Html.DisplayFor(model => model.StartValue)
    </span>
    <span>
        @Html.DisplayNameFor(model => model.TargetValue)
        @Html.DisplayFor(model => model.TargetValue)
    </span>
    <span>
        @Html.DisplayNameFor(model => model.Category)
        @Html.DisplayFor(model => model.Category)
    </span>

    @foreach (var item in Model.Instances)
    {
        <span class="goal-comment">
            @Html.DisplayNameFor(model => item.Comment)
            @Html.DisplayFor(model => item.Comment)
        </span>
    }
    <div class="goal-details-options">
        @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
        @Html.ActionLink("Create Instance", "Create", "Instances", new { GoalId = Model.Id })

    </div>

</div>


 

<div class="breakdown">
    <h2>Goal Breakdown:</h2>
    <img src="~/Assets/ChartPlaceholder.png" class="chart" />
</div>